

.weather-card{
    flex-wrap: wrap;
    width: 20rem;
    height: 30rem;
    border-radius: 27px;
    box-shadow: 5px 3px 7px;
    background: linear-gradient(0deg, rgba(182,187,187,1) 20%, rgba(0,244,255,1) 81%, rgba(0,163,255,1) 97%);
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "d d d d d"
    "ht ht avg i i"
    "lt lt ct i i"
    "am am . pm pm"
    "at at . pt pt";

    &__date{
        grid-area: d;
    }

    &__h-temp{
        grid-area: ht;
    }

    &__l-temp{
        grid-area: lt;
    }

    &__a-temp{
        grid-area: avg;
    }

    &__am-temp{
        grid-area:am;
    }

    &__pm-temp{
        grid-area: pm;
    }

    &__weather{
        grid-area: ct;
    }

    &__am-weather{
        grid-area: at;
    }

    &__pm-weather{
        grid-area: pt;
    }

    &__img{
        grid-area: i;
        width: 7rem;
        height: auto;
    }
}