.navigation-bar{
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgba(116, 207, 235, 0.66);
    margin-bottom: 1.5rem;
    

    &__box{
        width:9rem;
        height: auto;


    }

    &__title{
        color: blue;

        &:hover{
            color: darkcyan;
        }
    }



}
